.campus-involvement-section {
    text-align: center;
    margin: 20px 0;
  }
  
  .campus-involvement-section h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
  }
  
  .involvement-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .involvement-card {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 calc(25% - 20px); /* Flex grow, shrink, and basis */
    margin-bottom: 20px;
  }
  
  .involvement-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);
  }
  
  .involvement-logo {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .h3, .company_name {
    margin-bottom: 5px;
  }
  
  /* Responsive design for different screen sizes */
  @media (max-width: 1200px) {
    .involvement-card {
      flex: 1 1 calc(50% - 20px); /* 2 cards in a row on medium screens */
    }
  }
  
  @media (max-width: 768px) {
    .involvement-card {
      flex: 1 1 100%; /* Full width on smaller screens */
    }
  }
  