.education-section {
  text-align: center; /* Center-align the text */
  margin: 20px 0; /* Adjust the margin as needed */
}

.education-section h2 {
  font-size: 1.5em; /* Adjust font size as needed */
  margin-bottom: 15px; /* Space between the emoji/title and the card */
}

.education-card {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    display: inline-block;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adjusted for a softer initial shadow */
    margin: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
  }
  
  .education-card:hover {
    transform: translateY(-10px); /* Moves the card up by 5px */
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3); /* Larger shadow for hover effect */
  }

.university-logo {
  width: 250px; /* Adjust width as necessary */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 15px; /* Space below the logo */
}

/* You can add more styling to h3 and p tags inside the card if needed */
