.project-details-modal {
  position: fixed; /* Fixed position to stay in place even when scrolling */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* High z-index to be on top of other elements */
}

.project-details-content {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 10px; /* Rounded corners for the modal */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  max-width: 800px; /* Maximum width of the modal */
  width: 90%; /* Modal width, responsive to screen size */
  z-index: 1001; /* Ensures content is above the modal background */
}

.close-button {
  font-size: 1.5em; /* Size of the close button */
  color: rgb(0, 0, 0); /* Color of the close button */
  float: right; /* Position the close button to the right */
  cursor: pointer; /* Change mouse to pointer when hovering over the button */
}

.close-button:hover {
  color: #333; /* Darken the color when hovering for feedback */
}

.project-details-image {
  max-width: 100%; /* Ensures the image is not larger than the modal */
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px; /* Slight rounding on image corners */
  margin-bottom: 20px; /* Space below the image */
}

.project-details-title {
  font-size: 2em; /* Title size */
  font-weight: bold; /* Title weight */
  margin-bottom: 10px; /* Space below the title */
}

.project-details-description {
  color: rgb(0, 0, 0);  
  font-size: 1em; /* Description text size */
  margin-bottom: 20px; /* Space below the description */
}

.project-details-link {
  position: center;
  font-size: 1em; /* Link text size */
  padding: 10px 15px; /* Padding inside the link for clickability */
  background-color: #007bff; /* Background color of the link/button */
  color: white; /* Text color of the link/button */
  text-decoration: none; /* Remove underline from link */
  border-radius: 5px; /* Rounded corners for the link/button */
  transition: background-color 0.2s ease; /* Transition for the link/button background color */
}

.project-details-link:hover {
  background-color: #0056b3; /* Darken button on hover */
}
