.projects-section {
  margin: 40px 0;
}

.projects-section h2 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 15px;
  color: rgb(0, 0, 0);
}

.projects-header { 
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 15px;
  color: rgb(255, 255, 255);
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Space between the cards */
}

/* Individual project card styling */
.project-card {
  background-color: white;
  border-radius: 10px; /* Rounded corners for the card */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  text-align: center; /* Center the text within the card */
  cursor: pointer; /* Indicates the card is clickable */
  overflow: hidden; /* Ensures the content fits within the rounded corners */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

.project-card:hover {
  transform: scale(1.03); /* Slightly grows the card on hover for a lifting effect */
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3); /* Enhances the shadow on hover */
}

.project-card img {
  width: 100%; /* Ensures the image takes up the full width of the card */
  height: auto; /* Maintains the aspect ratio of the image */
  border-bottom: 1px solid #eee; /* A subtle border between the image and card content */
}

.project-card .project-name {
  padding: 15px;
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
}

/* Responsive adjustments for the project cards */
@media (max-width: 1200px) {
  .project-card {
    flex: 0 0 calc(50% - 20px); /* Two cards per row on medium screens */
  }
}

@media (max-width: 768px) {
  .project-card {
    flex: 0 0 calc(100% - 20px); /* Full width cards on small screens */
  }
}
