body, html {
  margin: 0;
  padding: 0;
  font-family: 'Calibri', sans-serif;
  background-color: #1a1a1a;
  color: white;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.intro, .profile, .about {
  margin-bottom: 5px;
}

.profile h1 {
  font-size: 2.5em;
  color: #e7eeec;
  margin-bottom: 10px; /* Reduced from 20px, adjust this value as needed */
}

.profile p {
  font-size: 1.2em;
  margin-top: 0px; /* Reduced or removed the top margin */
}


.resume-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.social-links a {
  margin-right: 10px;
}

.social-links img {
  width: 24px;
  height: auto;
}

.ssh-command {
  margin-top: 20px;
  background-color: #333;
  padding: 10px;
  display: inline-block;
}

.about h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.image-container {
  text-align: center;
  margin-top: 20px;
}

.image-container img {
  border-radius: 50%;
  width: 150px;
  height: auto;
}
