/* App.css */

.App {
  font-family: 'Arial', sans-serif;
  color: #fff;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.App-header {
  background-color: #00453a; /* Adjust the color to match the screenshot */
  padding: 10px 0;
}

.App-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
}

.App-nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.App-main {
  text-align: center;
}

h1 {
  font-size: 4em; /* Adjust the font size as needed */
  margin: 0.5em 0;
}

.App-main p {
  font-size: 1.2em;
  margin: 0.5em 0;
}

.App-bio {
  background-color: #006d57; /* Adjust the color to match the screenshot */
  padding: 20px;
  border-radius: 10px; /* Optional: if you want rounded corners */
  margin-bottom: 20px;
}

/* Add breakpoints for responsiveness */
@media (max-width: 768px) {
  .App-nav {
    flex-direction: column;
    gap: 10px;
  }

  h1 {
    font-size: 3em;
  }
}

/* Additional styles for the bio and other elements can be added here */
